extends ../layouts/default

block content
    .container
        h3= project.title
        br
        dialog#file-form-dialog(style='padding: 32px;')
            form#file-form(method='post', enctype='multipart/form-data')
                .form-group
                    input.form-control(type='file' name='file' required=true)
                .form-group
                    input.btn.btn-primary(type='submit' value='Hochladen', style='float: right;')
                    | &nbsp; &nbsp;
                    button.btn.btn-default.cancel(style='float: right;' value='cancel' type='button') Abbrechen
        //- div#dialog-output(style='display: none;')
        form#project-form(action=(canEdit ? '/project/' + project.projectId : ''), method = "post", autocomplete="off", enctype="multipart/form-data")
            input(autocomplete="false" name="hidden" type="text" style="display:none;")
            button.accordion-toggle
                h4 Projekt Info
            .accordion-group
                .form-group
                    label Projekt Id
                    input.form-control#projectId(type="text", value= project.projectId, readonly)
                .form-group
                    label Zuletzt bearbeitet
                    input.form-control(type="text", value= project._.updatedAt.format('DD.M.YYYY : HH:mm'), readonly)
                .form-group
                    label Notizen
                    div#notes.form-control(style="min-height: 160px; border: 1px solid #ccc; border-radius: 4px;")!= project.notes
                    textarea#notes-hidden(name="notes", cols="0", rows="0", style='display: none;' readonly = !canEdit)
                .form-group
                    label Beteiligte Nutzer
                    div(style='width: 100%;')
                        table.table.item-list(cellpadding=0 cellspacing=0)
                            colgroup
                                col(width=26)
                                col
                                col
                            thead
                                tr
                                    th
                                    th Name
                                    th Email
                            tbody
                                each user in project.writePermission
                                    tr
                                        td: span: i.far.fa-edit
                                        td= user.name.first + " " + user.name.last
                                        td
                                            a(href='mailto:' + user.email)= user.email
                                each user in project.readPermission.filter(x => !project.writePermission.find(y => x._id.equals(y._id)))
                                    tr
                                        td: span: i.far.fa-eye
                                        td= user.name.first + " " + user.name.last
                                        td
                                            a(href='mailto:' + user.email)= user.email
            hr
            button.accordion-toggle#measure
                h4 Maßnahme
            .accordion-group
                .form-group
                    label Beschreibung
                    //- input.form-control(type="text", value= project.measure.description, name="measure.description" readonly = !canEdit)
                    textarea.form-control(name='measure.description', readonly=!canEdit, height=100)= project.measure.description
                .form-group
                    label Handlungsfeld
                    if canEdit
                        select(name="measure.field").form-control
                            option(value='null' selected= !project.measure.field, disabled) ... 
                            each x in opFields
                                option(value=x.id, selected= project.measure.field && x.title == project.measure.field.title)= x.title
                    else
                        input(readonly, name='measure.fied', value= (project.measure.field || {title:''}).title).form-control
                .form-group
                    label Ziel der Maßnahme
                    textarea.form-control(name="measure.goal", rows=6, readonly=!canEdit)= project.measure.goal
                -var pad = function(i) { let s = String(i); while(s.length < 2) {s = "0" + s}; return s; }
                -var dateStr = function(d) { return d && d.constructor.name =='Date' ? `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())}` : null}
                .form-group
                    label Anfangsdatum
                    input.form-control.datepicker#dp1(type='text', readonly=!canEdit, name='measure.startDate', m-date = project.measure.startDate)
                    //- value= dateStr(project.measure.startDate))
                .form-group
                    label Abschlussdatum
                    input.form-control.datepicker#dp2(type='text', readonly=!canEdit, name='measure.endDate', m-date = project.measure.endDate)
                    //- value= dateStr(project.measure.endDate))
            hr
            button.accordion-toggle
                h4 Akteure
            .accordion-group
                .form-group
                    label Federführende Institution
                    input.form-control(name='administration.institution', value=project.administration.institution, readonly=!canEdit)
                .form-group
                    label Name und Rolle der federführenden Person
                    input.form-control(type='text', name='administration.name', value=project.administration.name, readonly=!canEdit)
                .form-group
                    label Email
                    input.form-control(type='email', name='administration.email', value=project.administration.email, readonly=!canEdit)
                .form-group
                    label Telefon
                    input.form-control(type='text', name='administration.phone', value=project.administration.phone, readonly=!canEdit)
                .form-group
                    label Unterstützender Akteur 1
                        span.info ?
                            div.info-content
                                p Namen der Institutionen/ Ansprechpersonen und deren Rolle in dem Vorhaben
                    input.form-control(type='text', name='support1.name', value= project.support1.name, readonly=!canEdit )
                .form-group
                    label Unterstützender Akteur 2
                        span.info ?
                            div.info-content
                                p Namen der Institutionen/ Ansprechpersonen und deren Rolle in dem Vorhaben
                    input.form-control(type='text', name='support2.name', value= project.support2.name, readonly=!canEdit )  
            hr
            button.accordion-toggle
                h4 Beiträge der Akteure
            .accordion-group
                .form-group
                    label Budget der Maßnahme
                        span.info ?
                            div.info-content
                                p Betrag in Euro
                    textarea.form-control(name='budget', height=100, readonly=!canEdit)= project.budget
                h5
                    em Beiträge der federführenden Institution
                .form-group
                    label Finanzielle Mittel
                        span.info ?
                            div.info-content
                                p Betrag in Euro
                    textarea.form-control(name='main.funding', readonly=!canEdit, height=100 )= project.main.funding
                .form-group
                    label Personal
                    textarea.form-control(name='main.personel', readonly=!canEdit, height=100 )= project.main.personel
                .form-group
                    label Sachmittel
                    textarea.form-control(name='main.resources', readonly=!canEdit, height=100 )= project.main.resources
                h5
                    em Beiträge des unterstützenden Akteurs 1
                .form-group
                    label Finanzielle Mittel
                        span.info ?
                            div.info-content
                                p Betrag in Euro
                    textarea.form-control(name='support1.funding', readonly=!canEdit, height=100 )= project.support1.funding
                .form-group
                    label Personal
                    textarea.form-control(name='support1.personel', readonly=!canEdit, height=100 )= project.support1.personel
                .form-group
                    label Sachmittel
                    textarea.form-control(name='support1.resources', readonly=!canEdit, height=100 )= project.support1.resources
                h5
                    em Beiträge des unterstützenden Akteurs 2
                .form-group
                    label Finanzielle Mittel
                        span.info ?
                            div.info-content
                                p Betrag in Euro
                    textarea.form-control(name='support2.funding', readonly=!canEdit, height=100 )= project.support2.funding
                .form-group
                    label Personal
                    textarea.form-control(name='support2.personel', readonly=!canEdit, height=100 )= project.support2.personel
                .form-group
                    label Sachmittel
                    textarea.form-control(name='support2.resources', readonly=!canEdit, height=100 )= project.support2.resources
            hr
            button.accordion-toggle
                h4 Output der Maßnahme
            .accordion-group
                .form-group
                    label Beschreibung
                        span.info ?
                            div.info-content
                                p Produkt oder erreichtes Ziel der Maßnahme, z.B. Broschüre, Veranstaltung, zu schaffende Unterlagen, "greifbare" Ergebnisse. Wichtig hierbei ist, dass das Output so beschrieben wird, dass Außenstehende zum Ende des Projekts feststellen können, ob das Ziel erreicht bzw. nicht erreicht wurde.
                    textarea.form-control(name='output.description', readonly=!canEdit, height=100 )= project.output.description
                .form-group
                    label Beitrag der Maßnahme zur Entwicklung der Industriestadt Berlin
                        span.info ?
                            div.info-content
                                p Beschreibung wie der "Output" zur Entwicklung der Industriestadt Berlin beitragen soll
                    textarea.form-control(name='output.contribution', readonly=!canEdit, height=100)= project.output.contribution
                .form-group
                    label Beitrag der Maßnahme zu Themencluster
                        span.info ?
                            div.info-content
                                p Hier sollen die (ein bis drei) Themencluster ausgewählt werden, zu denen die Maßnahme einen Beitrag leistet
                    br
                    div(style='min-height: 34px; height: auto; width: 100%;', readonly=!canEdit): div(style='width: 100%; display: flex; flex-wrap: wrap;')
                        each tc in themeclusters
                            div.checkbox-label.themecluster
                                input(type='checkbox', name=tc.title, value=tc._id, disabled=!canEdit
                                    checked= project.output.themecluster.find(x => x._id.equals(tc._id)) ? 'checked' : false
                                )
                                span= tc.title
                .form-group
                    label Projektindividuelle Indikatoren
                    textarea.form-control(name='output.indicators', readonly=!canEdit, height= 100)= project.output.indicators

            hr
            each milestone in milestones || []
                button.accordion-toggle
                    h4
                        | #{milestone.key}
                        span(style='float: right; font-size:14px;'): em Fällig am #{milestone._.date.format('DD.MM.YYYY')}
                .accordion-group
                    .form-group
                        label Projektstatus 1 (allgemein)
                        if canEdit
                            select(name= milestone.key + '.state', readonly=!canEdit).form-control
                                -var txt = "Noch nicht angefangen"
                                option(value= txt  selected= milestone.state==txt)= txt
                                -var txt = "In Bearbeitung"
                                option(value= txt  selected= milestone.state==txt)= txt
                                -var txt = "Abgeschlossen"
                                option(value= txt  selected= milestone.state==txt)= txt
                                -var txt = "Bearbeitung eingestellt"
                                option(value= txt  selected= milestone.state==txt)= txt
                        else
                            input(readonly, type='text', value= milestone.state).form-control
                    .form-group
                        label Projektstatus 2 (Projektfortschritt)
                            span.info ?
                                div.info-content
                                    p Auf der folgenden Skala: Wie schätzen Sie den Fortschritt des Projekts insgesamt ein? Rot: starke Abweichung vom Plan; Orange: Abweichung vom Plan; Hellgrün: weitgehend im Plan und Dunkelgrün: voll im Plan
                        div(style='width: 100%;')
                            -var name= milestone.key + '.state2'
                            span.radio-container(style='background: #cc3232;')
                                input(type='radio', name= name, checked= milestone.state2==1, value=1,
                                    label='Starke Abweichung von Plan'
                                )
                                .middle
                            span.radio-container(style='background: #db7b2b;')
                                input(type='radio', name= name, checked= milestone.state2==2, value=2,
                                    label='Abweichung vom Plan'
                                )
                                .middle
                            span.radio-container(style='background: #99c140;')
                                input(type='radio', name= name, checked= milestone.state2==3, value=3,
                                    label='Weitgehend im Plan'
                                )
                                .middle
                            span.radio-container(style='background: #2dc937;')
                                input(type='radio', name= name, checked= milestone.state2==4, value=4,
                                    label='Voll im Plan'
                                )
                                .middle
                            span.textlabel(style='float: right; display: inline-block;')
                    .form-group
                        label Kurzbeschreibung Projektstatus
                            span.info ?
                                .info-content
                                    p Bitte führen Sie hier kurz aus, warum Sie sich für den Projektstatus entschieden haben.
                        textarea.form-control(name= milestone.key + '.description', readonly=!canEdit)= milestone.description
                    .form-group
                        label Umsetzungsstatus der von Ihnen definierten Meilensteine
                            span.info ?
                                div.info-content
                                    p Auf der folgenden Skala: Wie schätzen Sie die Erreichung der von Ihnen definierten Meilensteine im 1. Berichtsturnus ein? Rot: Meilensteine wurden nicht erreicht; Orange: Meilensteine wurden teilweise erreicht; Hellgrün: 4: Meilensteine wurden weitgehend erreicht und Dunkelgrün: Definierte Meilensteine wurden im 1. Berichtsturnus vollständig erreicht
                        div(style='width: 100%;')
                            -var name= milestone.key + '.evaluation'
                            span.radio-container(style='background: #cc3232;')
                                input(type='radio', name= name, checked= milestone.evaluation==1, value=1,
                                    label='Meilensteine wurden nicht erreicht'
                                )
                                .middle
                            span.radio-container(style='background: #db7b2b;')
                                input(type='radio', name= name, checked= milestone.evaluation==2, value=2,
                                    label='Meilensteine wurden teilweise erreicht'
                                )
                                .middle
                            span.radio-container(style='background: #99c140;')
                                input(type='radio', name= name, checked= milestone.evaluation==3, value=3,
                                    label='Meilensteine wurden weitgehend erreicht'
                                )
                                .middle
                            span.radio-container(style='background: #2dc937;')
                                input(type='radio', name= name, checked= milestone.evaluation==4, value=4,
                                    label='Meilensteine wurden vollständig erreicht'
                                )
                                .middle
                            span.textlabel(style='float: right; display: inline-block;')
                    
                    .form-group
                        label Aktivitäten bei Abweichungen vom Plan
                            span.info ?
                                .info-content
                                    p Bitte beschreiben Sie kurz, welche Aktivitäten Sie bei Abweichungen vom Projektplan unternehmen wollen bzw. werden.
                        textarea.form-control(name= milestone.key + '.deviationMeasure', readonly=!canEdit)= milestone.deviationMeasure
                    .form-group
                        label Besondere Herausforderungen
                            span.info ?
                                .info-content
                                    p Bitte beschreiben Sie kurz, ob besondere Herausforderungen auftreten, aufgetreten sind oder aktuell einer erfolgreichen Projektumsetzung im Wege stehen.
                        textarea.form-control(name= milestone.key + '.challenges', readonly=!canEdit)= milestone.challenges
                    .form-group
                        label Beitrag zu anderen Themenclustern
                            span.info ?
                                .info-content
                                    p Trägt Ihre Maßnahme zu anderen Themenclustern bei? Bitte beschreiben Sie diese Beiträge.
                        textarea.form-control(name= milestone.key + '.contributions', readonly=!canEdit)= milestone.contributions
                    .form-group
                        label Unterstützungsbedarf
                            span.info ?
                                .info-content
                                    p Bitte klicken Sie das untere Kästchen an, wenn Sie weiteren Unterstützungsbedarf haben und eine Kontaktaufnahme durch die Geschäftsstelle wünschen.
                        div(style='width: 100%;')
                            input(type='checkbox', name= milestone.key + '.needSupport', checked= milestone.needSupport,
                                style='background: transparent; border: none; width: 18px; height: 18px;'
                            )
                    .form-group
                        label Dateien Hinzufügen
                        div.filelist(style='width: 100%;', path='/' + project.projectId + '/' + milestone.key)
                            table.table.item-list(cellpadding=0 cellspacing=0)
                                colgroup
                                    col
                                    col
                                    col(width=26)
                                thead
                                    tr
                                        th Datei
                                        th Erstellt
                                        th
                                tbody
                    .form-group
                        label Notizen
                        textarea.form-control(name= milestone.key + '.notes', readonly=!canEdit)= milestone.notes
                    
                hr
            div(style='height: 90px;')
            if canEdit
                .btn-bar.container
                    button.btn.btn-primary(type="submit") Speichern
                    button#resetbtn.btn.btn-link(style='background: transparent;') Änderungen Zurücksetzen

block js
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/projectRead.js')
    if canEdit
        script(src='/js/projectWrite.js')
    else
        script.
            $(function() {
                $('#notes').css('background', '#eee')
            })

block css
    link(rel='stylesheet' href='/styles/jquery-ui.min.css')
    style.
        .form-group label {
            position: relative;
        }
        .checkbox-label {
            width: 280px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        span.info {
            float: right;
            display: inline-block;
            height: 18px;
            width: 18px;
            text-align: center;
            line-height: 18px;
            background: lightgreen;
            border-radius: 50%;
            z-index: 11;
            position: absolute;
            right: 8px;
            top: 0;
            box-sizing: content-box;
            border: 1px solid green;
        }

        .tooltip {
            width: 360px;
            position: fixed;
            background: lightgreen;
            border-radius: 8px;
            opacity: 0;
            padding: 8px;
            padding-left: 16px;
            padding-right: 16px;
            z-index: 10;
            font-size: 1.4rem;
        }
        .tooltip p {
            font-size: 1.4rem;
        }

        .info-content {
            display: none;
        }